# =========================

# Python

# =========================

__pycache__/
**pycache**/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
build/
dist/

# =========================

# Virtual environments

# =========================

venv/
.env/
.venv/

# =========================

# Jupyter

# =========================

.ipynb_checkpoints

# =========================

# ML / Data files

# =========================

data/
datasets/
data_splits/
*.csv
*.tsv
*.h5
*.hdf5
*.npz
*.npy
*.pt
*.pth
*.ckpt

# =========================

# Logs / outputs

# =========================

logs/
outputs/
results/
runs/
reports/
data_synth/
wandb/
tensorboard/

# =========================

# System files

# =========================

.DS_Store
Thumbs.db

# =========================

# IDE

# =========================

.vscode/
.idea/

# =========================

# Jupyter server / cache

# =========================

.cache/
.jupyter/
.local/
.nv/
